In [1]:
# Source: https://github.com/aayushmnit/cookbook/blob/master/recsys.py
# https://towardsdatascience.com/solving-business-usecases-by-recommender-system-using-lightfm-4ba7b3ac8e62

In [1]:
import sys
import os
from recsys import *
from generic_preprocessing import *

C:\Users\daape\anaconda3\lib\site-packages\lightfm\_lightfm_fast.py:9: UserWarning: LightFM was compiled without OpenMP support. Only a single thread will be used.
  warnings.warn(

In [2]:
ratings = pd.read_csv('ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [32]:
ratings['rating'].unique()

array([4. , 5. , 3. , 2. , 1. , 4.5, 3.5, 2.5, 0.5, 1.5])

In [3]:
movies = pd.read_csv('ml-latest-small/movies.csv')
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
interactions = create_interaction_matrix(df = ratings,
                                         user_col = 'userId',
                                         item_col = 'movieId',
                                         rating_col = 'rating',
                                         threshold = '3')
interactions.shape

(610, 9724)

In [31]:
interactions

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
user_dict = create_user_dict(interactions=interactions)

In [7]:
movies_dict = create_item_dict(df = movies,
                               id_col = 'movieId',
                               name_col = 'title')

In [8]:
mf_model = runMF(interactions = interactions,
                 n_components = 30,
                 loss = 'warp',
                 k = 15,
                 epoch = 30,
                 n_jobs = 4)

In [9]:
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 235, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10)

Known Likes:
1- Independence Day (a.k.a. ID4) (1996)
2- Beauty and the Beast (1991)
3- Silence of the Lambs, The (1991)
4- Schindler's List (1993)
5- Speed (1994)
6- Lion King, The (1994)
7- Forrest Gump (1994)
8- Quiz Show (1994)
9- Apollo 13 (1995)
10- Mr. Holland's Opus (1995)

 Recommended Items:
1- Pulp Fiction (1994)
2- Crimson Tide (1995)
3- Dances with Wolves (1990)
4- Fugitive, The (1993)
5- Shawshank Redemption, The (1994)
6- True Lies (1994)
7- Clear and Present Danger (1994)
8- Aladdin (1992)
9- Batman Forever (1995)
10- Mrs. Doubtfire (1993)

In [17]:
[movies_dict[movie] for movie in rec_list]

['Pulp Fiction (1994)',
 'Crimson Tide (1995)',
 'Dances with Wolves (1990)',
 'Fugitive, The (1993)',
 'Shawshank Redemption, The (1994)',
 'True Lies (1994)',
 'Clear and Present Danger (1994)',
 'Aladdin (1992)',
 'Batman Forever (1995)',
 'Mrs. Doubtfire (1993)']

In [20]:

list_of_users = sample_recommendation_item(model = mf_model,
                           interactions = interactions,
                           item_id = 193583,
                           user_dict = user_dict,
                           item_dict = movies_dict,
                           number_of_user = 15)

In [21]:
list_of_users

[184, 515, 550, 291, 154, 148, 300, 25, 582, 433, 49, 30, 459, 581, 598]

In [29]:
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 5, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10)

Known Likes:
1- Pinocchio (1940)
2- Beauty and the Beast (1991)
3- Snow White and the Seven Dwarfs (1937)
4- Dances with Wolves (1990)
5- Schindler's List (1993)
6- In the Name of the Father (1993)
7- Pulp Fiction (1994)
8- Once Were Warriors (1994)
9- Heavenly Creatures (1994)
10- Postman, The (Postino, Il) (1994)

 Recommended Items:
1- Forrest Gump (1994)
2- Fugitive, The (1993)
3- Shawshank Redemption, The (1994)
4- Apollo 13 (1995)
5- Crimson Tide (1995)
6- Silence of the Lambs, The (1991)
7- Speed (1994)
8- Ghost (1990)
9- Aladdin (1992)
10- Fargo (1996)

In [24]:
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 550, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10)

Known Likes:
1- Deadpool (2016)
2- The Imitation Game (2014)
3- Ex Machina (2015)
4- Guardians of the Galaxy (2014)
5- Interstellar (2014)
6- Avengers, The (2012)
7- Inception (2010)
8- Up (2009)
9- Iron Man (2008)
10- Matrix, The (1999)

 Recommended Items:
1- Dark Knight, The (2008)
2- Edge of Tomorrow (2014)
3- Mad Max: Fury Road (2015)
4- The Martian (2015)
5- Dark Knight Rises, The (2012)
6- Skyfall (2012)
7- Django Unchained (2012)
8- Captain America: The Winter Soldier (2014)
9- Grand Budapest Hotel, The (2014)
10- Avatar (2009)

In [ ]:
rec_list = sample_recommendation_user(model = mf_model, 
                                      interactions = interactions, 
                                      user_id = 184, 
                                      user_dict = user_dict,
                                      item_dict = movies_dict, 
                                      threshold = 4,
                                      nrec_items = 10)

In [26]:
item_item_dist = create_item_embedding_distance_matrix(model = mf_model,
                                                       interactions = interactions)

In [27]:

rec_list = item_item_recommendation(item_embedding_distance_matrix = item_item_dist,
                                    item_id = 193583,
                                    item_dict = movies_dict,
                                    n_items = 10)

Item of interest :No Game No Life: Zero (2017)
Item similar to the above item:
1- The Night Is Short, Walk on Girl (2017)
2- Steins;Gate the Movie: The Burden of Déjà vu (2013)
3- Kizumonogatari III: Cold Blood (2017)
4- Silver Spoon (2014)
5- Tokyo Idols (2017)
6- Fullmetal Alchemist: The Sacred Star of Milos (2011)
7- Ferdinand (2017)
8- Tickling Giants (2017)
9- Fireworks, Should We See It from the Side or the Bottom? (2017)
10- Kizumonogatari II: Passionate Blood (2016)

In [28]:
item_item_dist

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
movieId,,,,,,,,,,,,,,,,,,,,,
1,1.000000,0.796735,0.412812,0.052299,0.588450,0.559913,0.305062,0.370084,0.335008,0.809096,...,-0.689838,-0.687533,-0.689636,-0.664347,-0.789128,-0.673018,-0.656940,-0.638694,-0.657969,-0.156552
2,0.796735,1.000000,0.483865,0.130941,0.594046,0.475346,0.259082,0.462800,0.251379,0.735052,...,-0.679724,-0.666431,-0.701883,-0.674163,-0.750012,-0.687876,-0.642230,-0.578902,-0.615664,-0.160710
3,0.412812,0.483865,1.000000,0.258686,0.592923,0.427575,0.571586,0.422335,0.568336,0.571218,...,-0.508588,-0.536114,-0.504227,-0.492843,-0.430411,-0.430282,-0.518273,-0.502609,-0.537014,-0.426733
4,0.052299,0.130941,0.258686,1.000000,0.392658,-0.049164,0.561296,0.405947,0.317658,0.113397,...,0.005223,0.073306,0.033315,0.040603,0.080751,0.099795,0.041656,0.062406,0.025807,-0.247939
5,0.588450,0.594046,0.592923,0.392658,1.000000,0.294284,0.655605,0.446476,0.516017,0.595986,...,-0.332088,-0.340502,-0.328398,-0.297081,-0.355593,-0.282848,-0.352420,-0.262459,-0.289006,-0.088158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193581,-0.673018,-0.687876,-0.430282,0.099795,-0.282848,-0.522804,-0.203650,-0.343104,-0.038292,-0.608057,...,0.964039,0.928008,0.970913,0.971803,0.945962,1.000000,0.941828,0.901017,0.937077,0.228011
193583,-0.656940,-0.642230,-0.518273,0.041656,-0.352420,-0.629438,-0.350663,-0.490261,-0.140065,-0.634086,...,0.951453,0.947480,0.970796,0.958436,0.905775,0.941828,1.000000,0.934719,0.953914,0.304562
193585,-0.638694,-0.578902,-0.502609,0.062406,-0.262459,-0.660005,-0.249876,-0.346914,-0.106731,-0.597644,...,0.933976,0.923563,0.937916,0.934305,0.875569,0.901017,0.934719,1.000000,0.968046,0.370776
193587,-0.657969,-0.615664,-0.537014,0.025807,-0.289006,-0.619202,-0.296065,-0.409545,-0.126173,-0.651004,...,0.962016,0.943117,0.957090,0.961474,0.912841,0.937077,0.953914,0.968046,1.000000,0.402116
193609,-0.156552,-0.160710,-0.426733,-0.247939,-0.088158,-0.176209,-0.468926,-0.394258,-0.198179,-0.188590,...,0.291489,0.402014,0.235151,0.279469,0.122107,0.228011,0.304562,0.370776,0.402116,1.000000